<div class="jumbotron">
  <h2>Welcome to Personal Twitter Bot</h2>
  <p class="lead">Twitter doesn't have to be time consuming.</p>
  <%= for tweet <- @tweets do %>
    <p><%= tweet %></p>
  <%= end %>

  <%= case @count do %>
    <% nil -> %> No tweets in database
    <% _ -> %> <p>Found <%= @count %> tweets in database</p>
  <% end %>
</div>
